.vs/DOAN_CLOUND/config/applicationhost.config
.vs/DOAN_CLOUND/v17/.suo
DOAN_CLOUND/bin/DOAN_CLOUND.d11
DOAN_CLOUND/bin/DOAN_CLOUND.pdb
DOAN_CLOUND/obj/Debug/DOAN_CLOUND.csproj. Assembly Reference.cache
DOAN_CLOUND/obj/Debug/DOAN_CLOUND.csproj.CoreCompileInputs.cache
DOAN_CLOUND/obj/Debug/DOAN_CLOUND.csproj.FileListAbsolute.txt
DOAN_CLOUND/obj/Debug/DOAN_CLOUND.d11
DOAN_CLOUND/obj/Debug/DOAN_CLOUND.pdb
DOAN_CLOUND/obj/Debug/DesignTimeResolveAssemblyReferences Input.cache
