.vs/
DOAN_CLOUND/bin/
DOAN_CLOUND/obj/
# Tệp cấu hình thường không cần đẩy lên GitHub
*.config
*.json
*.xml

# Thư mục bin và obj chứa các tệp build
bin/
obj/

# Tệp của Visual Studio
.vscode/
.vs/
*.user
*.suo

# Thư mục packages quản lý thư viện NuGet
packages/

# Tệp logs
*.log

# Thư mục tạm thời của hệ thống
tmp/

# Thư mục phát sinh khi build dự án
Debug/
Release/

# Thư mục chứa các file publish
publish/

